---
import Layout from "../../../layouts/Layout.astro";
import Hero from "../../../components/Hero.astro";
import VisualizerSection from "../../../components/VisualizerSection.astro";
import NotebookSection from "../../../components/NotebookSection.astro";
import ListenSection from "../../../components/ListenSection.astro";
---

<Layout title="Amber & Ice — Rusty Notebooks">
<div class="chapter-bg" style="--bg-image: url('/images/amberandice.png');">
<div class="chapter-content container">
  <Hero eyebrow="Chapter I — Resonance of Rust"
        title="Amber & Ice"
        backHref={"/chapters/chapter1"}/>

  <VisualizerSection
    title="Official Visualizer"
    youtubeId="iRUJFRGcCWE"/>

  <NotebookSection title="From Rusty’s notebook">
<div class="narrative">
  <p>
    Some evenings don’t ask for much —<br />
    just a slow drink,<br />
    good company,<br />
    and the last light of the day<br />
    settling over a quiet town.
  </p>

  <p>
    “Amber & Ice” lives in that golden hour moment —<br />
    boots on the railing,<br />
    a glass on the table,<br />
    and the feeling that for once<br />
    the world doesn’t need to hurry anywhere.
  </p>

  <p>
    It’s a song about stillness —<br />
    about friends,<br />
    fading sunlight,<br />
    and the simple comfort<br />
    of letting time drift by.
  </p>

  <p class="narrative-final">
    Sometimes all you need<br />
    is amber in the glass<br />
    and a night moving slow.
  </p>
</div>
  </NotebookSection>

<ListenSection
  links={[
    {
      href: "https://www.youtube.com/watch?v=iRUJFRGcCWE",
      label: "YouTube",
      type: "youtube"
    },
    {
      href: "https://open.spotify.com/intl-de/track/4MrSjovMTokAIBELuozJHI?si=9e757c3c304f47b7",
      label: "Spotify",
      type: "spotify"
    }
    /* Comming soon 
    ,
    {
      href: "https://music.apple.com/us/album/burn-cedarwood/1877571983?i=1877571984",
      label: "Apple Music",
      type: "applemusic"
    }
      */
  ]}
/>

    </div> <!-- chapter-content -->
</div> <!-- chapter-bg -->
</Layout>