---
import Layout from "../../../layouts/Layout.astro";
import BackButton from "../../../components/BackButton.astro";
import Hero from "../../../components/Hero.astro";
import VisualizerSection from "../../../components/VisualizerSection.astro";
import NotebookSection from "../../../components/NotebookSection.astro";
import ListenSection from "../../../components/ListenSection.astro";
import Footer from "../../../components/Footer.astro";
---

<Layout title="Embers in the Dark — Rusty Notebooks">
  <div
    class="chapter-bg"
    style="--bg-image: url('/images/embersinthedark.png');"
  >
    <div class="chapter-content container">
      <Hero
        eyebrow="Chapter I — Resonance of Rust"
        title="Embers in the Dark"
        backHref={"/chapters/chapter1"}
      />

      <VisualizerSection title="Official Visualizer" youtubeId="sA-d0100yEI" />

      <NotebookSection title="From Rusty’s notebook">
        <div class="narrative">
          <p>
            Some nights don’t ask for anything.<br />
            They just settle in slowly.
          </p>

          <p>
            “Embers in the Dark” lives in that quiet moment after the fire has
            burned low —<br />
            when the last red glow still holds the room,<br />
            and the world outside has finally gone still.
          </p>

          <p>
            It’s a song about rest —<br />
            about letting the day fade without resistance,<br />
            and noticing that everything that matters<br />
            is already right there beside you.
          </p>

          <p class="narrative-final">
            Sometimes the loudest thing in the night<br />
            is the quiet between two breaths.
          </p>
        </div>
      </NotebookSection>

      <ListenSection
        links={[
          {
            href: "https://www.youtube.com/watch?v=sA-d0100yEI",
            label: "YouTube",
            type: "youtube",
          },
          {
            href: "https://open.spotify.com/intl-de/track/72p8CBDfSi6G8P5IezFn0T?si=28f4385975444cc5",
            label: "Spotify",
            type: "spotify",
          },
          {
            href: "https://music.apple.com/us/album/embers-in-the-dark-single/1879031715",
            label: "Apple Music",
            type: "applemusic",
          },
        ]}
      />

      <VisualizerSection
        title="Official Visualizer Acoustic Version"
        youtubeId="sA-d0100yEI"
      />
      <Footer />
    </div>
    <!-- chapter-content -->
  </div>
  <!-- chapter-bg -->
</Layout>
