---
import Layout from "../../../layouts/Layout.astro";
import Hero from "../../../components/Hero.astro";
import VisualizerSection from "../../../components/VisualizerSection.astro";
import NotebookSection from "../../../components/NotebookSection.astro";
import ListenSection from "../../../components/ListenSection.astro";
import Footer from "../../../components/Footer.astro";
---

<Layout title="Half-Speed Horizon — Rusty Notebooks">
    <div
        class="chapter-bg"
        style="--bg-image: url('/images/halfspeedhorizon.png');"
    >
        <div class="chapter-content container">
            <Hero
                eyebrow="Chapter I — Resonance of Rust"
                title="Half-Speed Horizon"
                backHref={"/chapters/chapter1"}
            />

            <VisualizerSection
                title="Official Visualizer"
                youtubeId="JnUnoPPylfg"
            />

            <NotebookSection title="From Rusty’s notebook">
                <div class="narrative">
                    <p>
                        Some days don’t rush forward.<br />
                        They drift.
                    </p>

                    <p>
                        “Half-Speed Horizon” lives in that quiet moment when the
                        world finally slows —<br />
                        a wide sky turning lavender,<br />
                        the wind moving softly through the evening air,<br />
                        and the feeling that time<br />
                        has loosened its grip on the day.
                    </p>

                    <p>
                        It’s a song about letting go of the race —<br />
                        about watching the horizon breathe,<br />
                        and realizing that not every road<br />
                        needs to be chased.
                    </p>

                    <p class="narrative-final">
                        Sometimes the truest thing we can do<br />
                        is simply slow down.
                    </p>
                </div>
            </NotebookSection>

            <ListenSection
                links={[
                    {
                        href: "https://www.youtube.com/watch?v=JnUnoPPylfg",
                        label: "YouTube",
                        type: "youtube",
                    },
                    {
                        href: "https://open.spotify.com/intl-de/track/1n1ciDpNsyULjcqNmMq32R?si=cff8f57eb8734048",
                        label: "Spotify",
                        type: "spotify",
                    },
                    /* Comming soon 
    ,
    {
      href: "https://music.apple.com/us/album/burn-cedarwood/1877571983?i=1877571984",
      label: "Apple Music",
      type: "applemusic"
    }
      */
                ]}
            />
            <Footer />
        </div>
        <!-- chapter-content -->
    </div>
    <!-- chapter-bg -->
</Layout>
