---
import Layout from "../layouts/Layout.astro";
import ChapterListSection from "../components/ChapterListSection.astro";
---

<Layout title="Rusty Notebooks">
  <div class="chapter-bg" style="--bg-image: url('/images/index.png');">
<div class="chapter-content">
  <section class="hero">
    <div class="eyebrow">Americana Storytelling in Songs</div>
    <h1>Rusty Notebooks</h1>
    <div class="narrative">
  <p>
    Rusty Notebooks is a long-form Americana story 
    told in fragments, songs, memories and moments from a life that didn’t unfold all at once.
  </p>

  <p>
    Set somewhere between leaving and staying,<br />
    the music traces the quiet weight of time,<br />
    the roads we outgrow,<br />
    and the things we never quite say.
  </p>

  <p>
    Each release reveals another piece of Rusty — not in order, but in truth.
  </p>

  <p class="narrative-final">
    Some stories don’t begin where you think.
  </p>
</div>
  </section>

<ChapterListSection
  title="Chapters"
  items={[
    {
      title: "Chapter 3 — Rust Between the Lines",
      text: "The music circles around time, memory, and coming home — not as a straight line, but as a loop that could be a beginning or an ending.",
      href: "/chapters/chapter1",
      image: "/images/resonanceofrustcover.png"
    },
     {
      title: "Chapter 2 — Beyond the Rust",
      text: "The music circles around time, memory, and coming home — not as a straight line, but as a loop that could be a beginning or an ending.",
      href: "/chapters/chapter1",
      image: "/images/resonanceofrustcover.png"
    },
     {
      title: "Chapter 1 — Resonance of Rust",
      text: "The music circles around time, memory, and coming home — not as a straight line, but as a loop that could be a beginning or an ending.",
      href: "/chapters/chapter1",
      image: "/images/resonanceofrustcover.png"
    }
  ]}
/>
    </div> <!-- chapter-content -->
</div> <!-- chapter-bg -->
</Layout>
