<footer class="site-footer">
    <div class="footer-links">
        <a href="rights/imprint">Imprint</a>
        <a href="rights/dataprotection">Data Protection</a>
    </div>

    <div class="footer-copy">© 2026 Rusty Notebooks</div>
</footer>
