---
const { href, label, type = "default" } = Astro.props;
---

<a href={href} target="_blank" class={`platform-button ${type}`}>
  
  {type === "youtube" && (
    <svg width="28" height="28" viewBox="0 0 24 24" fill="currentColor">
      <path d="M23.5 6.2a2.9 2.9 0 0 0-2-2C19.7 3.7 12 3.7 12 3.7s-7.7 0-9.5.5a2.9 2.9 0 0 0-2 2A30 30 0 0 0 0 12a30 30 0 0 0 .5 5.8 2.9 2.9 0 0 0 2 2c1.8.5 9.5.5 9.5.5s7.7 0 9.5-.5a2.9 2.9 0 0 0 2-2A30 30 0 0 0 24 12a30 30 0 0 0-.5-5.8zM9.7 15.5V8.5l6.3 3.5-6.3 3.5z"/>
    </svg>
  )}

  {type === "spotify" && (
    <svg width="28" height="28" viewBox="0 0 24 24" fill="currentColor">
      <path d="M12 0a12 12 0 1 0 0 24A12 12 0 0 0 12 0zm5.5 17.3a.8.8 0 0 1-1.1.3c-3-1.8-6.7-2.2-11-.9a.8.8 0 1 1-.5-1.6c4.7-1.4 8.9-1 12.3 1 .4.2.5.7.3 1.2zm1.6-3.4a1 1 0 0 1-1.4.3c-3.5-2.1-8.9-2.7-13-1.2a1 1 0 1 1-.7-1.9c4.7-1.6 10.7-1 14.9 1.5a1 1 0 0 1 .2 1.3zm.2-3.6c-4.2-2.5-11.2-2.7-15.2-1.3a1.2 1.2 0 1 1-.8-2.3c4.6-1.6 12.3-1.3 17.1 1.6a1.2 1.2 0 0 1-1.1 2z"/>
    </svg>
  )}

  <span>{label}</span>
</a>